@media (max-width: 991.98px) {
  /* glob */
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section-container {
    max-width: 600px;
  }
  .title {
    margin-bottom: 25px;
    font-size: 32px;
  }
  /* header */
  .nav__list {
    gap: 25px;
  }
  /* timer */
  .timer {
    height: 160px;
  }
  .watch {
    width: 600px;
    height: 180px;
  }
  .display {
    width: 120px;
    height: 120px;
  }
  .display__number {
    font-size: 48px;
  }
  /* about */
  .about__text {
    margin-bottom: 25px;
    font-size: 16px;
  }
  .about__images {
    background-size: 60px 60px;
  }
  .about__image {
    width: 140px;
    height: 140px;
  }
  /* gallery */
  .gallery__list {
    gap: 20px;
  }
  .gallery__item {
    height: 240px;
  }
  /* registration */
  .registration {
    padding-bottom: 0;
  }
  .registration__text {
    margin-bottom: 20px;
    font-size: 16px;
  }
  /* wedding */
  .wedding {
    padding-bottom: 0;
  }
}
@media (max-width: 767.98px) {
  .header {
    position: fixed;
    height: 70px;
    border: 1px solid var(--colorGray);
    border-radius: 0 0 30px 30px;
    color: var(--colorBlack);
    background-color: var(--colorWhite);
    transition: height 0.3s ease;
  }
  .header-active {
    height: 350px;
  }
  .logo {
    display: block;
  }
  .burger {
    display: block;
  }
  .nav {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .nav__list {
    flex-direction: column;
  }
  .nav-active {
    opacity: 1;
  }
  .timer {
    height: 140px;
  }
  .watch {
    height: 160px;
  }
  .display {
    width: 100px;
    height: 100px;
  }
  .display__number {
    font-size: 42px;
  }
  .gallery__list {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .gallery__item {
    height: 180px;
  }
}
@media (max-width: 567.98px) {
  /* glob */
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .title {
    font-size: 24px;
  }
  /* hero */
  .timer {
    height: 100px;
  }
  .watch {
    height: 120px;
  }
  .display {
    width: 70px;
    height: 70px;
    border-radius: 15px;
  }
  .display__number {
    font-size: 24px;
  }
  .display__text {
    font-size: 12px;
  }
  /* about */
  .about__text {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .about__images {
    background-size: 30px 30px;
  }
  .about__image {
    width: 90px;
    height: 90px;
  }
  /* questions */
  .questions__wrapper:not(:last-child) {
    margin-bottom: 20px;
  }
  .questions__title {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .questions__answer {
    font-size: 14px;
  }
  .questions__color-group {
    padding-top: 10px;
  }
  .questions__color-group img {
    width: 60px;
    height: 60px;
  }
  /* gallery */
  .gallery__list {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .gallery__item {
    height: 180px;
  }
  /* registration */
  #registration-map {
    height: 200px;
  }
  .registration__text {
    font-size: 14px;
  }
  /* wedding */
  #wedding-map {
    height: 200px;
  }
  .wedding__time {
    margin-right: 40px;
    font-size: 18px;
  }
  .wedding__time::after {
    right: -80px;
    background-size: 20px 20px;
  }
  .wedding__time::before {
    top: 30px;
    left: 63px;
  }
  .wedding__title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  /* form */
  .form__text {
    font-size: 14px;
  }
  .form__input-group {
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 20px;
  }
  /* footer */
  .footer__title {
    font-size: 42px;
  }
}/*# sourceMappingURL=media.css.map */